# Ignore all files/folders by default
# See https://stackoverflow.com/a/29932318
/*

# Except this files/folders
!dist/*
!docs/*
!src/*
!CHANGELOG.md
!LICENSE
!package.json
!package-lock.json
!README.md
